*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav-left h1{
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    padding-left: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    position: fixed;
    z-index: 11;
}

.nav-right {
   position: fixed;
   right: 6%;
   top: -13%;
   z-index: 11;
  
}

.nav-right a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 6px 8px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-radius: 4px;
    font-size: 1.2vw;
    letter-spacing: 2px;
    opacity: 0.7;
    
}
  
.nav-right a:hover{
    opacity:1;
    background-color: #fff;
    color: black;
    transition: all 0.3s ease; 
}

.header{
    height: 100vh;
    
    margin-bottom: 25px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.493),rgba(78, 68, 68, 0.493)),url("../img/background.png") ;
    background-size: cover;
    /* background-position: center; */

    background-attachment: fixed;
    position: relative;
}

#toggle{
    display: none;
}

.nav_butt{  
    color: black;
    padding: 10px;
    position: fixed;
    right: 2%;
    top: 1.4%;
    z-index: 11;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s;   
}

  
.navigation_icon{
    display: inline-block;
    background-color: black;
    height: .17rem;
    width: 1.6rem;
    margin: 2px 0px;
    position: relative;
  }
  

.navigation_icon::before{
    content: "";
    width: 1.6rem;
    height: .17rem;
    background-color: black;
    position: absolute;
    left: 0;
    top: -.4rem;
    transition: all 0.3s ease;
  }
  
  .navigation_icon::after{
    content: "";
    width: 1.6rem;
    height: .17rem;
    background-color: black;
    position: absolute;
    left: 0;
    top: .44rem;
    transition: all 0.3s ease;
}

#toggle:checked ~ .nav_butt > .navigation_icon{
    background-color: transparent;
    
}
#toggle:checked ~ .nav_butt > .navigation_icon::before{
    top: 0;
    transform: rotate(135deg);
}
#toggle:checked ~ .nav_butt > .navigation_icon::after{
    top: 0;
    transform: rotate(-135deg);
}
#toggle:checked ~ .nav-right{
    top: 3%;
   
    transition: all .5s;
}

.header-content{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo{
    /* width: 150px; */
    /* height: 150px; */
    margin-bottom: 60px;
    -webkit-transition: -webkit-transform 1s;
}
.logo:hover{
   transform: rotate(1440deg);
}
.text{
margin-bottom: 35px;
width:1000px;
}

.button{
    text-align: center;
    font-size:20px;
}
 .button1{
     display: inline-block;
     margin-right: 30px;
    
 }
 .button2{
     display: inline-block;
    border-radius: 10%;
 }   
.register{
    border: 1px solid #fff;
    border-radius: 60px;
    display: inline-block;
    padding: 10px 30px; 
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.start_quiz{
    border: 1px solid #fff;
    border-radius: 60px;
    display: inline-block;
     padding: 10px 30px; 
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.register:hover{
    background-color: #fff;
    color: #000;
}
.start_quiz:hover{
    background-color: #fff;
    color: #000;
}
/* .card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px .8rem 1rem rgba(0,0,0,.05)
}
.left-content{
    font-family: 'Open Sans' sans-serif;
    font-size: 1.6rem;
    color: #333;
    width: 100%;
    height: 100vh;
    dispay: flex;
    padding 0 1.5rem; 

} */

.right-img{
    display: inline-block;
    clip-path: polygon(30% 0,100% 0,100% 100%,0 100%);
}
.left-img{
    display: inline-block;
    clip-path: polygon(0 0,70% 0,100% 100%,0 100%);
}

.right-img-content{
    height: 100px;
    width: 100px;
}       

.left-img-content{
    height: 100px;
    width: 100px;
}
.left-content{
    display: inline-block;
}
.right-content{
    display: inline-block;
}
.card{
    padding: 20px;
    font-size:15px;
    overflow: hidden;
    box-shadow: 3px 3px 18px black;
    text-align: center;
    margin: 25px;
    top:10px;
    
}

.rounds{
    text-align: center;
}
.last-card{
    margin-bottom: 0;
}
.btn{
    margin-bottom: 4vh;
    margin-top: 25px;
}

.btn a{
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(6, 138, 72);
    padding: 1vh 1vw;
    border: 2px solid rgb(6, 138, 72);
    border-radius: 4px;
}   

.btn a:hover{
    background-color: rgb(6, 138, 72);
    color: #fff;
    transition: .5s;
}

footer{
    height: 25%;
    width: 100%;   
}

/* @keyframes zoominout{
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.4,1.4);
    }
    100% {
        transform: scale(1,1);
    }
} */

@keyframes updown {
    0% {
      transform: translateY(-30%) ;
    }
  
    50% {
      transform: translateY(-80%);
    }
  
    100% {
      transform: translateY(-30%);
    }
  }

.img-data{
    height: 8rem;
    position: relative;
    overflow: hidden;
}

.footering img {
    background: url("../img/footer.png");
    width: 100%;
    height: 800%;
    position: absolute;
    top: 0;
    left: 0;
     animation: updown 8s infinite;   
}

.bars{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;    
}

.bars img{
    height: 43px;
    width: 44px;
    padding: 8px;
    margin: 4px;
    /* margin-top: -10rem; */
    border-bottom: 2px dotted white;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s;

}

.bars img:hover{
        cursor: pointer;
        -webkit-transform: rotate(-5deg) scale(1.4);
}


/* .foot{
    height: 10px;
    width: 100%;

} */

.foot h6{
    background-color: rgb(24, 109, 69);
    padding: 5px;
    font-size: 10px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    
}